<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if title %}
        FastAPI BLOG - {{ title }}
      {% else %}
        FastAPI BLOG
      {% endif %}
    </title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script type="module" src="/static/js/auth.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", path="css/styles.css")}}">
  </head>
  <body class="flex flex-col min-h-screen" x-data="{ 
	  deleteModal: false,
	  submitPostForm: false, 
	  editPostForm: false,
      editProfileForm: false,
	  successModal: false, 
	  errorModal: false, 
	  modalMessage: '' 
	}">
    {% include "includes/header.html" %}

    {% block layout %}
    {% endblock %}

    {% include "modals/create-post.html" %}
    {% include "modals/post-feedback.html" %}

    <script type="module">

        import { getCurrentUser, logout, setToken, getToken } from "/static/js/auth.js";

        window.getCurrentUser = getCurrentUser;
        window.logout = logout;
        window.setToken = setToken;
        window.getToken = getToken; 
        window.dispatchEvent(new CustomEvent('auth-ready'));

    </script>

    {% block javascript %}{% endblock %}		
  </body>
</html>
